<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Highscores</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="container">
    <div class="header-div">

        <a href="https://devinmcgloin.com/advent"><img class="header-img" src="https://devinmcgloin.com/public/advent/icon.svg"
                                 alt="https://devinmcgloin.com/public/advent/icon.png"></a>


        <div class="header-title">
            <h1>{{ title }}</h1>
        </div>
    </div>

        <p>This is a list of the highscores of adventure users.</p>

        <h2>All Time</h2>

        <ol>
            {% for score in all_time_scores %}
            <li>{{ score[0] }} » {{ score[1] }}</li>
            {% endfor %}
        </ol>

        <h2>{{ month | datetimefilter('%B') }}</h2>

        <ol>
            {% for score in month_scores %}
            <li>{{ score[0] }} » {{ score[1] }}</li>
            {% endfor %}
        </ol>
    </div>

</div>


</div>
</body>
</html>